<div class="col-12 p-0 float-left height100">
    <div *ngIf="router.url != '/employee/login'" class="col-12 p-0 float-left">
        <app-header></app-header>
    </div>
    <div [ngClass]="router.url == '/maintain/login'?'':'mt-65'" class="col-12 p-0 float-left height100">
        <div *ngIf="router.url != '/maintain/login'" class="p-0 float-left height100 sidenav_styles">
            <app-sidenav></app-sidenav>
        </div>
        <div [ngClass]="router.url == '/maitain/login'?'col-12':'main_contents_styles'" class="p-0 float-left height100">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>