<div class="header_styles">
    <img src="./assets/logo.jpg" width="35">
    <h1 class="heading_styles">KAAR EMPLOYEE PORTAL</h1>
            <!-- <mat-icon routerLink="finance" routerLinkActive="activewhite" title="Finance" class="icon_color" aria-hidden="false" aria-label="Example attach_money icon">attach_money</mat-icon> -->
    <span routerLink="/" class="float-right ml-auto">
        <mat-icon routerLink="dashboard" routerLinkActive="activewhite" title="Logout" class="icon_color" aria-hidden="false" aria-label="Example ExitToApp icon">exit_to_app</mat-icon>
    </span>
    
</div>