<div class="col-12 p-0 float-left">
    <div class="col-12 p-0 float-left subheader">
      <mat-icon routerLink="/shop/prodorder" title="dashboard" class="mt-1 float-left cursor_pointer" aria-hidden="false"
        aria-label="Example back icon">arrow_back</mat-icon>
      <!-- <h2 class="float-left pl-3 m-0">NOTIFICATION DETAILS</h2> -->
    </div>

   
</div>
<hr>
<!-- <div class="col-sm-12 text-right">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" >Create New</button>

</div> -->
<div class="table-wrapper-scroll-y my-custom-scrollbar">
<div class=" shadow-lg p-3 mb-5 bg-white rounded col-sm-12 float-left mt-5"> 

	<table id="example" class="table table-striped table-bordered">
        <thead>
            <tr>
            
            <th scope="col">Order Number</th>
            <th scope="col">PLANNED ORDER NUMBER</th>
            <th scope="col">SALES ORDER NUMBER</th>
            <th scope="col">Sales Order Item</th>
            <th scope="col"> Quantity</th>

            <th scope="col">Fixed Quantity</th>
            <th scope="col">Storage Location</th>
            <th scope="col">Batch Number</th>
            <th scope="col">Start Date</th>
            <th scope="col">Opening Date</th>

            <th scope="col">Procurement Type</th>
            <th scope="col">Scrap Quantity</th>
             <th scope="col">Order Quantity</th>
             <th scope="col">Material Number</th>
             <th scope="col">Plant</th>
            
             <th scope="col">Planning Plant</th>
             <th scope="col">Edit</th>
           
    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of prodorderpending ; let i = index">
            <td>{{data.AUFNR}}</td>
            <td>{{data.PLNUM}}</td>
            <td>{{data.KDAUF}}</td>
            <td>{{data.KDPOS}}</td>
            <td>{{data.WEMNG}}</td>

            <td>{{data.PAMNG}}</td>
            <td>{{data.LGORT}}</td>
            <td>{{data.CHARG}}</td>
            <td>{{data.STRMP}}</td>
            <td>{{data.ETRMP}}</td>

            <td>{{data.BESKZ}}</td>
            <td>{{data.PSAMG}}</td>
            <td>{{data.PSMNG}}</td>
            <td>{{data.MATNR}}</td>
            <td>{{data.DWERK}}</td>

            <td>{{data.PWERK}}</td>
            <!-- <td>{{data.DGLTS}}</td> -->
                <!-- <td>
                  <i class="fa fa-edit" style="font-size:20px;color:red" (click)="retrieveRow(i)" data-toggle="modal" data-target="#exampleModal"></i>
                </td>  -->
                <td>
                    <i class="fa fa-edit" style='font-size:36px' data-toggle="modal" data-target="#exampleModal" (click)="retrieveRow(i)"></i>
                </td>
                <td>
                    <i class="fa fa-bolt" style='font-size:36px' (click)=" release(i)"aria-hidden="true"></i>
                </td>
          </tr>
        </tbody>
      </table>

    </div>
    </div>



  
    
    <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- <div class="modal-body">
            <form id>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4"> Order Number</label>
                  <input  [disabled]="isDisabled" type="text" class="form-control" name="form-control" id="inputEmail4"[(ngModel)]="AUFNR" value={{AUFNR}}  readonly  >
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Planned Order</label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name ="FD" id="inputEmail4" [(ngModel)]="PLNUM" value={{PLNUM}} >
                  
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Batch Number</label>
                  <input [disabled]="isDisabled"  type="text" class="form-control" name="itn" id="inputEmail4"[(ngModel)]="CHARG" value={{CHARG}}>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Finish Date</label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name="mtn" id="inputEmail4" [(ngModel)]="DGLTS" value={{DGLTS}}>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Production Plant</label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name = "pp" id="inputEmail4"[(ngModel)]="DWERK" value={{DWERK}} >
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Opening Date</label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name ="productionplant" id="inputEmail4" [(ngModel)]="ETRMP" value={{ETRMP}}>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Sales Order Number</label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name = "OrdeType" id="inputEmail4" [(ngModel)]="KDAUF" value={{KDAUF}}>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4"> Item number</label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name ="ProcuremenType" id="inputEmail4" [(ngModel)]="KDPOS" value={{KDPOS}}>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Storage Location</label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name = "POQ" id="inputEmail4" [(ngModel)]="LGORT" value={{LGORT}}>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Material number</label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name ="FQ" id="inputEmail4" [(ngModel)]="MATNR" value={{MATNR}}>
                </div>
              </div>
   
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputEmail4">Fixed Quantiy</label>
                  <input [disabled]="isDisabled"  type="text" class="form-control" name = "SD" id="inputEmail4" [(ngModel)]="PAMNG" value={{PAMNG}}>
                </div>
                <div class="form-group col-md-4">
                 
                 
                 
                  <label for="inputPassword4">Procurement Type</label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name="sod" id="inputEmail4" [(ngModel)]="BESKZ" value={{BESKZ}}>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">Scrap Quantity</label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name ="OD" id="inputEmail4" [(ngModel)]="PSAMG" value={{PSAMG}} >
                </div>
              </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for="inputEmail4"> Order Item Quanity</label>
                    <input [disabled]="isDisabled"  type="text" class="form-control" name = "SL" id="inputEmail4"  [(ngModel)]="PSMNG" value={{PSMNG}}>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputPassword4">Planning plant</label>
                    <input [disabled]="isDisabled" type="text" class="form-control" name ="UM" id="inputEmail4"  [(ngModel)]="PWERK" value={{PWERK}}>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputPassword4">Start Date</label>
                    <input [disabled]="isDisabled" type="text" class="form-control" name ="MA" id="inputEmail4" [(ngModel)]="STRMP" value={{STRMP}} >
                  </div>
                   <div class="form-group col-md-3">
                    <label for="inputPassword4">Item recived Quantity</label>
                    <input [disabled]="isDisabled" type="text" class="form-control" name ="MA" id="inputEmail4" [(ngModel)]="WEMNG" value={{WEMNG}} >
                  </div>
              </div>
          </form>
          </div> -->
          <div class="modal-body">
            <form id>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4"> Order Number</label>
                  <input  [disabled]="isDisabled" type="text" class="form-control" name="form-control" id="inputEmail4"[(ngModel)]="AUFNR" value={{AUFNR}}  readonly  >
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Planned Order number </label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name ="FD" id="inputEmail4" [(ngModel)]="PLNUM" value={{PLNUM}} >
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Sales Order Number</label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name = "OrdeType" id="inputEmail4" [(ngModel)]="KDAUF" value={{KDAUF}}>
                  
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Sales Order Item</label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name ="ProcuremenType" id="inputEmail4" [(ngModel)]="KDPOS" value={{KDPOS}}>
                  
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Quantity</label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name = "pp" id="inputEmail4"[(ngModel)]="WEMNG" value={{WEMNG}} >
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Fixed Quantity</label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name ="productionplant" id="inputEmail4" [(ngModel)]="PAMNG" value={{PAMNG}}>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">storage location</label>
                  <input [disabled]="isDisabled"  type="text" class="form-control" name="itn" id="inputEmail4"[(ngModel)]="LGORT" value={{LGORT}}>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4"> Batch Number</label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name="mtn" id="inputEmail4" [(ngModel)]="CHARG" value={{CHARG}}>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Start Date</label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name = "POQ" id="inputEmail4" [(ngModel)]="STRMP" value={{ETRMP}}>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Opening Date</label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name ="FQ" id="inputEmail4" [(ngModel)]="ETRMP" value={{ETRMP}}>
                </div>
              </div>
   
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputEmail4">Procurement Type</label>
                  <input [disabled]="isDisabled"  type="text" class="form-control" name = "SD" id="inputEmail4" [(ngModel)]="BESKZ" value={{BESKZ}}>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">Scrap Quantity</label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name="sod" id="inputEmail4" [(ngModel)]="PSAMG" value={{PSAMG}}>
                  
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">Order Quantity </label>
                  <input [disabled]="isDisabled" type="text" class="form-control" name ="OD" id="inputEmail4" [(ngModel)]="PSMNG" value={{PSMNG}} >
                </div>
              </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for="inputEmail4">Material Number</label>
                    <input [disabled]="isDisabled"  type="text" class="form-control" name = "SL" id="inputEmail4"  [(ngModel)]="MATNR" value={{MATNR}}>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputPassword4">Production Plant</label>
                    <input [disabled]="isDisabled" type="text" class="form-control" name ="UM" id="inputEmail4"  [(ngModel)]="DWERK" value={{DWERK}}>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputPassword4">Planning Plant
                    </label>
                    <input [disabled]="isDisabled" type="text" class="form-control" name ="MA" id="inputEmail4" [(ngModel)]="PWERK" value={{PWERK}} >
                  </div>
                   <div class="form-group col-md-3">
                    <label for="inputPassword4">Finish Date</label>
                    <input [disabled]="isDisabled" type="text" class="form-control" name ="AN" id="inputEmail4" [(ngModel)]="DGLTS" value={{DGLTS}} >
                  </div>
              </div>
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"(click)="getData()">Close</button>
            <button type="button" class="btn btn-primary" (click)="enableEdit()">{{btn_text}}</button>
          </div>
        </div>
      </div>
    </div>
     <!-- <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Planned Order Number</label>
                  <input type="text" class="form-control" name="PON" id="inputEmail4"[(ngModel)]="PLNUM2" [ngModelOptions]="{standalone: true}" >
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Sales Order Number</label>
                  <input type="text" class="form-control" name="sod" id="inputEmail4" [(ngModel)]="KDAUF2" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Item Number</label>
                  <input   type="text" class="form-control" name="itn" id="inputEmail4"[(ngModel)]="KDPOS2" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Material Number</label>
                  <input type="text" class="form-control" name="mtn" id="inputEmail4" [(ngModel)]="MATNR2"[ngModelOptions]="{standalone: true}" >
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Planning Plant</label>
                  <input type="text" class="form-control" name = "pp" id="inputEmail4"[(ngModel)]="PLWRK2"[ngModelOptions]="{standalone: true}" >
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Production Plant</label>
                  <input type="text" class="form-control" name ="productionplant" id="inputEmail4" [(ngModel)]="PWWRK2" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Order Type</label>
                  <input type="text" class="form-control" name = "OrdeType" id="inputEmail4" [(ngModel)]="PAART2" [ngModelOptions]="{standalone: true}" >
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Procurement Type</label>
                  <input type="text" class="form-control" name ="ProcuremenType" id="inputEmail4" [(ngModel)]="BESKZ2" [ngModelOptions]="{standalone: true}" >
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Planned Order Quanity</label>
                  <input  type="text" class="form-control" name = "POQ" id="inputEmail4" [(ngModel)]="GSMNG2" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Fixed Quantity</label>
                  <input  type="text" class="form-control" name ="FQ" id="inputEmail4" [(ngModel)]="AVMNG2" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
   
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputEmail4">Start Date</label>
                  <input   type="text" class="form-control" name = "SD" id="inputEmail4" [(ngModel)]="PSTTR2" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">Finishing Date</label>
                  <input type="text" class="form-control" name ="FD" id="inputEmail4" [(ngModel)]="PEDTR2"  [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">Opening Date</label>
                  <input  type="text" class="form-control" name ="OD" id="inputEmail4" [(ngModel)]="PERTR2"  [ngModelOptions]="{standalone: true}">
                </div>
              </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputEmail4">storage location</label>
                    <input   type="text" class="form-control" name = "SL" id="inputEmail4"  [(ngModel)]="LGORT2" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputPassword4">unit of measure</label>
                    <input  type="text" class="form-control" name ="UM" id="inputEmail4"  [(ngModel)]="MEINS2" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputPassword4"> MRP AREA</label>
                    <input type="text" class="form-control" name ="MA" id="inputEmail4" [(ngModel)]="BERID2" [ngModelOptions]="{standalone: true}">
                  </div>
              </div>
          </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"(click)="createData()">Save changes</button>
        </div>
        </div>
     </div>
    </div> --->