.sidenav_styles{
    position: fixed;
    background: black;
    width: 60px;
    box-shadow: 0 0 7px #00000075;
    z-index: 99;
}
.f-40{
    font-size: 40px;
}
.pb10{
    padding: 10px 0;
}
.icon_color{
    color: #ffffff;
}
.width220{
    width: 220px;
    transition: all 0.5s;
}
.width60{
    width: 60px;
    transition: all 0.5s;
}
.plr-18{
    padding: 0 18px;
}
.disflex{
    display: flex;
}
.pt-03{
    padding-top: 3px;
}